div.top--bar
  a(href="/") Omar Martinez

span.client--name Client Name
h1.project--title Project Name
div.project--hero
div.container.project
  h2 Project Info
  div.row
    div.project--specs.column.quarter
      h3 Roles
      p Front-End Developer
      h3 Technical Specs
      ul
        li Items here
    div.project--information.column.two-thirds
      p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.

  h2 Project Images
  div.project--screens.row
    div.column.half
      a(href="http://i.imgur.com/m1Wg9Vt.jpg").swipebox
        img(src="http://placehold.it/400x400")
    div.column.half
      a(href="http://ppcdn.500px.org/72802983/c41a887d62495f3dc9238ca3f0260c4a277c9b85/5.jpg").swipebox
        img(src="http://placehold.it/400x400")

  h2 Project Code Sample
  div.project--code.row
    div.column.full
      pre
        code.language-css.
          .some-css {
            width: 100%;
            height: 100%;
          }

div.project-page