ul.brag-book
  li
   a(href="http://us5.campaign-archive2.com/?u=378fe1962c26591def21ff561&id=fc5c48290e&e=df07ab8183") Internal newsletter
  li 3 Time FWA Winner
  li anidea.com recognized as one of the top blogs of the year
  li .net magazine article tutorial
  li .net magazine quote
  li Assembled MakerBot 3D Printer
  li 7 years at one company