div.container.landing
  h1 Omar Martinez
  h2 Showcase
  ul.showcase
    for project in public._data
      li.column.third(class="#{project.slug}")
        div.project--meta
          small #{project.client}
          h3 #{project.name}
        div.preview--hover
          a(href="projects/#{project.slug}.html") View Project