div.container.landing
  h1 Omar Martinez
  h2 Showcase
  ul.showcase
    li.column.third.project-name
      div.project--meta
        small Client
        h3 Project Name
      div.preview--hover
        a(href="projects/project_template.html") View Project
    li.column.third.project-name
      div.project--meta
        small Client
        h3 Project Name
      div.preview--hover
        a(href="projects/project_template.html") View Project
    li.column.third.project-name
      div.project--meta
        small Client
        h3 Project Name
      div.preview--hover
        a(href="projects/project_template.html") View Project
    li.column.third.project-name
      div.project--meta
        small Client
        h3 Project Name
      div.preview--hover
        a(href="projects/project_template.html") View Project
    li.column.third.project-name
      div.project--meta
        small Client
        h3 Project Name
      div.preview--hover
        a(href="projects/project_template.html") View Project
    li.column.third.project-name
      div.project--meta
        small Client
        h3 Project Name
      div.preview--hover
        a(href="projects/project_template.html") View Project