//- Long ass line because no multi-lines bs
- var projects = [{slug: 'balloon', name: 'Balloon Agency', client: 'FromSomebodyElse'}, {slug: 'airforce', name: 'US Air Force', client: 'AgencyTen'}]

div.container.landing
  h1 Omar Martinez
  h2 Showcase
  ul.showcase
    each project in projects
      li.column.third(class="#{project.slug}")
        div.project--meta
          small #{project.client}
          h3 #{project.name}
        div.preview--hover
          a(href="projects/#{project.slug}.html") View Project