nav.push--nav
  button.nav--trigger
    span.nav--icon
  ul
    li
      a(href="/") Home
    li
      ul.nav--work
        li One
        li One
        li One
    li
      a(href="/resume/") Resume
    li
      a(href="http://omar12.github.io/web-technologist-log/") Web Technologist Log