nav.push--nav
  div.nav--trigger
    .nav--icon
      - for (var x = 0; x < 3; x++)
        span.line
  ul.main--nav
    li: a(href="/") Home
    li
      ul.work--nav
        for project in public._data
          li(class="#{project.slug}"): a(href="/projects/#{project.slug}") &nbsp;
    li: a(href="/resume/") Resume
    li: a(href="http://omar12.github.io/web-technologist-log/") Web Technologist Log

  ul.social--links
    li.twitter: a(href="https://twitter.com/omar12") @omar12
    li.github: a(href="https://github.com/omar12") omar12
    li.linkedin: a(href="http://www.linkedin.com/in/omartinez12") LinkedIn
    li.gplus: a(href="http://goo.gl/AatFlr") Google Plus