// CSS3 Prefixes
// TODO: FIX
@mixin css3($property, $parameters...) {
  $prefixes: webkit moz o;
  @each $prefix in $prefixes {
    -#{prefix}-#{$property}: $paramaters;
  }
  #{$property}: $paramaters;
}

// Media Queries

@mixin respond-to($media) {
  @if $media == small-screens {
    @media only screen and (min-width: $break-small) { @content; }
  }
  @else if $media == medium-screens {
    @media only screen and (min-width: $break-medium) { @content; }
  }
  @else if $media == large-screens {
    @media only screen and (min-width: $break-large) { @content; }
  }
}

// .profile-pic {
//   float: left;
//   width: 250px;
//   @include respond-to(medium-screens) { width: 125px; }
//   @include respond-to(wide-screens) { float: none; }
// }


@mixin transition($values...) {
  $prefixes: webkit moz o;
  @each $prefix in $prefixes {
    -#{$prefix}-transition: $values;
  }
  transition: $values;
}

@mixin transform($values...) {
  $prefixes: webkit moz o;
  @each $prefix in $prefixes {
    -#{$prefix}-transform: $values;
  }
  transform: $values;
}