// CSS3 Prefixes
// TODO: FIX
@mixin css3($property, $parameters...) {
  $prefixes: webkit moz o;
  @each $prefix in $prefixes {
    -#{prefix}-#{$property}: $paramaters;
  }
  #{$property}: $paramaters;
}

// Media Queries

@mixin respond-to($media) {
  @if $media == small-screens {
    @media only screen and (min-width: $break-small) { @content; }
  }
  @else if $media == medium-screens {
    @media only screen and (min-width: $break-medium) { @content; }
  }
  @else if $media == large-screens {
    @media only screen and (min-width: $break-large) { @content; }
  }
}

// .profile-pic {
//   float: left;
//   width: 250px;
//   @include respond-to(medium-screens) { width: 125px; }
//   @include respond-to(wide-screens) { float: none; }
// }


@mixin retina-images($image-path) {
    @media
    only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (   min--moz-device-pixel-ratio: 2),
    only screen and (     -o-min-device-pixel-ratio: 2/1),
    only screen and (        min-device-pixel-ratio: 2),
    only screen and (                min-resolution: 192dpi),
    only screen and (                min-resolution: 2dppx)
    {
      background: url(#{$image-path}) no-repeat;
      background-size: 100% 100%;
    }
}

// @include retina-images(image/name@2x.jpg);


@mixin transition($values...) {
  $prefixes: webkit moz o;
  @each $prefix in $prefixes {
    -#{$prefix}-transition: $values;
  }
  transition: $values;
}

@mixin transform($values...) {
  $prefixes: webkit moz o;
  @each $prefix in $prefixes {
    -#{$prefix}-transform: $values;
  }
  transform: $values;
}

@mixin gradient($color-start, $color-end) {
  background: -webkit-gradient(linear, left top, right top, from($color-start), to($color-end));
  background: -webkit-linear-gradient(top, $color-start, $color-end);
  background: -moz-linear-gradient(top, $color-start, $color-end);
  background: -o-linear-gradient(top, $color-start, $color-end);
  background: -ms-linear-gradient(top, $color-start, $color-end);
  background: linear-gradient(top, $color-start, $color-end);
  background-color: $color-start;
}