// Page Title

header {
  border-bottom: 2px solid $border-color;

  h1 {
    text-align: center;
  }
}


// Grid Showcase
// -------------
.showcase {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;

  li {
    height: 250px;
    position: relative;
    padding: 0;
    background-color: $gallery-bg;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: 125%;
            background-size: 125%;
    @include transition(background-size 500ms $easeOutExpo);
  }

  .project--meta {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: .5rem;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    small {
      font-weight: 200;
    }

    h3 {
      margin: 0;
      font-weight: 200;
      // text-shadow: 1px 1px 1px rgba($shadow-color, .4);
    }
  }

  .preview--hover {
    position: absolute;
    top: 5%;
    left: 5%;
    display: table;
    width: 90%;
    height: 90%;
    opacity: 0;
    background: rgba(#111, .5);
    @include transform(scale(.85));
    @include transition(all 500ms $easeOutCirc 50ms);

    a {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      text-transform: uppercase;
      text-decoration: none;
      color: #fff;
      font-weight: 200;
    }
  }

  .hovered {
    -webkit-background-size: 120%;
            background-size: 120%;

    .preview--hover {
      opacity: 1;
      @include transform(scale(1));
    }
  }
}