// Images for each client

// loop that cycle clients
// $clients is in _variables.scss
@each $client in $clients {
  .showcase {
    .#{$client} {
      background-image: url('/img/projects/#{$client}-01-thumb.jpg');
    }
  }

  .project.#{$client} {
    .project--hero {
      background-image: url('/img/projects/#{$client}-01-full.jpg');
    }
  }
}

// Custom Colors

.showcase {
  .laudi_vidni {
    small, h3 {
      color: $highlight-color;
    }
  }
}